/*====================== common CSS =======================*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #181818;
}
.container{
    width: 1140px;
    max-width: 98%;
    margin: auto;
}
.btn{
    padding: 18px 17px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #FD6E0A;
    border: 1px solid;
    margin-right: 30px;
    transition: linear 0.5s;
    cursor: pointer;
}
a{
    display: inline-block;
}
img{
    display: block;
    max-width: 100%;
}
h2{
    font-weight: bold;
    font-size: 35px;
}
/*========================== Navigation area ===========================*/
header{
    width: 1600px;
    max-width: 100%;
    /* height: 837px;
    max-height: 120vh; */
    overflow: hidden;
    background: url("../img/header_bg.png") no-repeat bottom right,url("../img/developer.png") no-repeat 5% ;
    background-color: #FFF8F3;
    background-blend-mode: multiply;
    margin: auto;  
}
@media screen and (min-width:1200px) {
    header{
        background: url("../img/header_bg.png") no-repeat bottom right,url("../img/developer.png") no-repeat 1% ;
        background-color: #FFF8F3;
        background-blend-mode: multiply;
    }
}
nav{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
nav .logo h2 {
    font-weight: 800;
    font-size: 45px;
}
nav .logo h2 span{
    color: #FD6E0A;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul a{
    padding: 18px 35px;
    text-decoration: none;
    color: #474747;
    transition: linear 0.5s;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 20px;
}
nav ul a:hover{
    background-color: #FD6E0A;
    color: #fff;
}
.active{
    background-color: #FD6E0A;
    color: #fff;
    font-weight: bold;
}
/*========================= Banner area =============================*/
.banner_area{
    display: flex;
    justify-items: center;
}
.banner_area .banner_text{
    width: 70%;
    margin-top: 185px;
}
.banner_area .banner_text h2{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
    color: #474747;
}
.banner_area .banner_text h1{
    font-weight: 600;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner_area .banner_text .banner_dis{
    width: 78%;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}
.btn i{
    margin-right: 10px; 
}
.banner_area .btn:hover{
    background-color: #FD6E0A;
    color: #fff;
    font-weight: bold; 
}
.banner_img{
    flex: none;
    margin-right: -16%;
    margin-top: 45px;
}
/* =======================about area======================== */
.about_section{
    text-align: center;
    margin: 130px 0;
}
.about_text{
    background: #FFF8F3;
    padding: 130px 155px;
}
.short_discrib{
    font-size: 18px;
    width: 95%;
    margin:30px auto;
    color: #757575;
}
.about_info{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.about_info span{
    color: #757575;
}
.about_info p{
    color: #474747;
    line-height: 30px;
    font-weight: bold;
}
/* ==============================Work area======================= */
#work_section{
    text-align: center;
}
#work_section .work_short_discrib{
    width: 80%;
    font-size: 18px;
    margin:30px auto 50px;
    color: #474747;
}
#work_section .work_container{
    display: flex;
    justify-content: space-around;
}
#work_section .work_container .child_work{
    width: 22.5%;
    padding: 30px;
    text-align: left;
    box-shadow: 0px 0px 20px 5px #F3F3F3;
    z-index: 1;
    border: 1px solid #F3F3F3;
}
#work_section .work_container img{
    margin-bottom: 30px;
}
#work_section .work_container .skill_discrib{
    margin: 30px 3px;
}
/*======================== summery area========================== */
#summery_section{
    margin: 123px auto 113px;
}
#summery_section h2{
    text-align: center;
}
#summery_section .summer_container{
    display: flex;
    margin: 120px 0 50px;
} 
#summery_section .summer_container h3{
    color: #474747;
    font-size: 30px;
}
#summery_section .summer_container .child_education,.experience_area .child_experience{
    margin: 30px 0;
    width: 95%;
    border-bottom: 1px solid #d1d1d1;
}
#summery_section .summer_container .child_education:last-child,.experience_area .child_experience:last-child{
    border-bottom: 0px solid #d1d1d1;
}
#summery_section .summer_container h4{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.summer_container span{
    font-size: 20px;
    color: #757575;
}
.summer_container p{
    color: #757575;
    margin: 20px 0px 30px;
    width: 85%;
    line-height: 28px;
}
#summery_section button{
    text-align: center;
    display: block;
    margin: auto;
}
/*======================= footer area ===========================v*/
footer{
    background: #FFF8F3;
}
footer .footer_container{
    display: flex;
    justify-content: space-between;
    padding: 130px 0;
}
footer .footer_container h3{
    font-size: 35px;
}
footer .footer_left, footer .footer_right{
    width: 48%;
}
footer p{
    margin: 20px 0 30px;
    display: block;
}
footer .social_area{
    display: flex;
    list-style: none;
}
footer .social_area a{
    margin-right: 24px;
    color: #FD6E0A;
    font-size: 24px;
}
footer .footer_right form{
    margin-top: 28px;
}
form input,textarea{
    background-color: #fff;
    outline: none;
    display: block;
    border: 0px;
    margin-bottom: 24px;
    padding: 18px 30px;
    width: 100%;
}
textarea{
    resize: none;
    height: 180px;
}
form input[type="submit"]{
    width: fit-content;
    padding: 18px 39px;
    border-radius: 5px;
}